global:
  resolve_timeout: 1m

route:
  receiver: rocketchat
  group_by: ['alertname', 'alert_id']
  group_wait: 10s
  group_interval: 15s
  repeat_interval: 20s

receivers:
- name: rocketchat
  webhook_configs:
  - url: "{{ rocketchat_webhook_url | trim }}"
    send_resolved: true

templates:
- '/etc/alertmanager/rocket_templates/*.tmpl'
